/* Header Stylesheet */

/* Remove all margins and padding */
* {
    margin: 0;
    padding: 0;
}

/* Header image, hide overflow to keep within height range */
header {
    height: 15vh;
    overflow: hidden;
}

/* Img element within header */
header > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
